[Unit]
Description=Mnemosyne cleanup task

[Service]
Type=simple

Environment=RAILS_ENV=production
Environment=MALLOC_ARENA_MAX=2
EnvironmentFile=/home/mnemosyne/.config/default/mnemosyne

WorkingDirectory=/home/mnemosyne/application/current

ExecStart=/home/mnemosyne/application/current/bin/rake mnemosyne:clean

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
