[Unit]
Description=Unicorn Socket
Conflicts=puma.socket

[Socket]
ListenStream=/tmp/mnemosyne/web.sock

NoDelay=true
ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
