@import '~bootstrap/scss/functions'
@import '~bootstrap/scss/variables'

.traceview
  header
    padding: 0.5rem 1rem

    background-color: #f5f5f5
    border-bottom: 1px solid #ddd

    h2
      margin: 0
      display: inline-block

      font-size: 1.4rem

      > a
        margin: 0 0.5rem 0 0
        // padding: 0.2em 0.4em 0.15em
        padding: 0.1em 0.4em
        display: inline-block

        border: 1px solid transparent
        background-color: transparent
        border-radius: 1px

        color: inherit

        &:hover
          border-color: #ccc
          background-color: #fff
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.1)

        &:active
          border-color: #a9a9a9
          background-color: #e2e2e2
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset

        > svg
          fill: #F9C81A
          position: relative
          top: -0.1em

    > a
      display: inline-block
      margin: 0 0 0 1rem

      span
        margin-right: 0.5rem

  .traceview-main
    display: flex

    > section
      flex-grow: 1

  .traceview-sm
    flex-grow: 0 !important
    width: 40%

    background-color: white
    border-left: 4px solid #eee
    padding: 0 1rem
    position: relative

    > section
      padding: 1rem 0

    .sm-close
      position: absolute
      top: 0
      right: 0.8rem
      font-size: 200%
      color: #ddd

      &:hover
        color: #999

    table
      width: 100%

      th, td
        border: 1px solid #ccc
        line-height: 1.4rem
        font-size: 0.7rem

      th
        text-align: right
        margin: 0
        width: 90px
        padding: 2px 0.5rem

        color: #555
        background: #f6f6f6

      td
        background: #fff
        width: 100%
        margin: 0
        padding: 2px 0.4rem
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

    dl
      dt, dd
        padding: 0 0.3rem

      dt
        border-bottom: 1px solid #ccc
        font-variant: small-caps

      dd
        padding: 0.2rem 0.3rem
        font: 90% monospace
        overflow: auto
        white-space: pre
        word-wrap: break-word
        max-height: 50vh

        &::-webkit-scrollbar
          width: 12px
          height: 12px

        &::-webkit-scrollbar-thumb
          -webkit-border-radius: 10px
          border-radius: 6px
          background-color: #eee
          border: 2px solid #fff

        &:hover::-webkit-scrollbar-thumb
          background-color: #aaa

    .empty
      color: #bbb

  .traceinfo
    display: flex
    flex-wrap: wrap
    margin: 1rem 0
    width: 100%

    > div
      display: flex
      width: 25%

      border: 1px solid #ccc
      border-top-width: 0
      border-left-width: 0

      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
        border-top-width: 1px

      &:nth-child(5n), &:first-child
        border-left-width: 1px

      > h4, > a
        line-height: 1.4rem
        font-size: 0.7rem

      > h4
        text-align: right
        margin: 0
        min-width: 80px
        padding: 2px 0.4rem

        color: #555
        background: #f6f6f6

      > a
        background: #fff
        width: 100%
        margin: 0
        padding: 2px 0.4rem
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

        &.empty
          color: #999

      @media (max-width: 1024px)
        flex-direction: column

        > h4
          text-align: left

  .tracefailures
    margin: 1rem 0
    border: 1px solid theme-color-level('danger', -8)
    color: theme-color-level('danger', 6)

    > *
      margin: .5rem

    p
      font-weight: bold

    ul
      margin: 0
      padding-left: 0

    li
      list-style: none
      padding: .25rem .5rem
      background-color: theme-color-level('danger', -10)

      &:nth-of-type(2n+1)
        background-color: theme-color-level('danger', -9)

    a
      color: theme-color-level('danger', 9)
      &:hover
        text-decoration: underline

    span
      display: inline-block

      font-family: monospace
      font-size: .8em
      margin-left: 1em

  .spanview
    margin: 1rem
    background: #fff
    border: 1px solid #ccc

    > div
      display: flex

      &:nth-child(2n)
        background-color: #eee

      > div.name
        width: 200px
        overflow: hidden
        text-overflow: ellipsis
        font-size: 0.8rem
        padding: 1px 0.2rem

      .bar
        display: block
        height: 17px
        margin: 2px 0 2px 0
        padding: 1px 0 0 4px
        font-size: 11px

        background-color: #8ACAED
