@import '../variables'
@import '../functions'

.tracegraph
  background-color: #fff
  padding: 1rem

  @each $color in $base-colors
    $index: index($base-colors, $color)

    .tg-color-#{$index}
      --tg-bar-color: #{contrast-color($color)}
      --tg-bar-background-color: #{$color}
      --tg-row-background-color: #{mix(white, nth($base-colors, ($index + 1) % 8 + 1), 80%)}

  > div
    margin: 1px 0
    padding: 0
    display: flex

    cursor: pointer

    background-color: var(--tg-row-background-color)

    // &:nth-child(2n+1)
    //   background-color: #f2f2f2

    &.selected
      outline: 1px solid #aaa
      background-color: #fff

    &:hover
      background-color: #f8f8f8

    > div
      width: 100%
      padding: 0 0 0 4px

    > div:first-child
      width: 300px

    > div:last-child
      padding-right: 40px

  .tg-info
    padding: 1px 0 0 4px

    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    color: #555
    font-size: 0.7rem

    a
      display: block
      text-decoration: none

  .tg-bar
    display: block
    margin: 0
    padding: 2px 0 0 4px
    height: 100%
    line-height: 14px

    font-size: 11px

    color: var(--tg-bar-color)
    background-color: var(--tg-bar-background-color)
