$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default


@import '~bootstrap/scss/functions'
@import '~bootstrap/scss/variables'
@import '~bootstrap/scss/mixins'

$header-bg: #444
$header-color: $white
$header-border-width: 3px
$header-border-color: theme-color("primary")

@import '~bootstrap/scss/reboot'
@import '~bootstrap/scss/print'

@import '~bootstrap/scss/reboot'
@import '~bootstrap/scss/type'
@import '~bootstrap/scss/grid'

@import '~bootstrap/scss/popover'

$fa-font-path: '~font-awesome/fonts'
@import '~font-awesome/scss/font-awesome'

@import 'typography'

@import 'header'
@import 'common'
@import 'traces'
@import 'failures'
@import 'platforms'
@import 'filter'


*
  box-sizing: border-box

body
  font-size: 14px
  background-color: #eee

#main
  margin: auto
